.figure img {
    max-width: 50%;
   
    
}
.tin-tuc1{
    color: darkgreen;
    text-align: center;
}

.figure{
    text-align: center;
}


.canhchinh{
    margin: 3px 15% 0 15%;
}

.rounded{
    width: 800px;
}